@media screen and (max-width: 1199px) {
  .h2xl {
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.01em;
  }
}
@media screen and (max-width: 991px) {
  .h2xl {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
  }
  .hlg {
    font-size: 32px;
  }
  .menu-overlay {
    position: fixed;
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .content-layout-dash aside.bd-sidebar {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    overflow-y: auto;
  }
  .content-layout-dash main.bd-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: calc(100vh - 80px);
  }
  .menu-toggle .content-layout-dash aside.bd-sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .menu-toggle .menu-overlay {
    visibility: visible;
  }
  .content-layout-dash aside.bd-sidebar .main-menu li .dropdown-ellipsis .dropdown-menu {
    inset: 20px 0 auto auto !important;
  }
  .box-run-fixed {
    width: 100%;
    left: 0;
  }
  .btn-side-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input-title-run .input-title-write .form-group .form-control {
    font-size: 28px;
  }
  .input-title-run .input-title-write .form-group .form-control::-moz-placeholder {
    font-size: 28px;
  }
  .input-title-run .input-title-write .form-group .form-control:-ms-input-placeholder {
    font-size: 28px;
  }
  .input-title-run .input-title-write .form-group .form-control::-webkit-input-placeholder {
    font-size: 28px;
  }
  .container-fluid {
    padding: 0 15px;
  }
  .drawer-cp .drawer-content .drawer-title h2 {
    font-size: 28px;
  }
  .content-layout-dash main.bd-main {
    padding: 30px 25px;
  }
}
@media screen and (max-width: 767px) {
  .h2xl {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0;
  }
  .hlg {
    font-size: 24px;
  }
  .hxs {
    font-size: 18px;
    line-height: 21px;
  }
  .btn-lg {
    height: 50px;
  }
  .home-page-content .hero-content {
    max-width: 100%;
  }
  .home-page-content .hero-content .btn-lg {
    font-size: 18px;
  }
  .auth-page .auth-container .box-auth .box-auth-body .heading-box-auth p {
    font-size: 16px;
  }
  .input-title-run .input-title-write .form-group .form-control {
    font-size: 24px;
  }
  .input-title-run .input-title-write .form-group .form-control::-moz-placeholder {
    font-size: 24px;
  }
  .input-title-run .input-title-write .form-group .form-control:-ms-input-placeholder {
    font-size: 24px;
  }
  .input-title-run .input-title-write .form-group .form-control::-webkit-input-placeholder {
    font-size: 24px;
  }
  .drawer-cp .drawer-content .drawer-title h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 575px) {
  .h2xl {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0;
  }
  .hlg {
    font-size: 20px;
  }
  .hxs {
    font-size: 16px;
  }
  .btn-lg {
    height: 46px;
  }
  .btn {
    padding: 5px 10px;
  }
  .home-page-content .hero-content p {
    margin: 20px 0;
  }
  .home-page-content .hero-content .btn-lg {
    font-size: 16px;
  }
  .form-control-lg {
    height: 46px;
    min-height: 46px;
  }
  .auth-page .auth-container .box-auth .box-auth-body .heading-box-auth p {
    font-size: 14px;
  }
  .auth-page .auth-container .box-auth .box-auth-footer p {
    font-size: 14px;
  }
  .input-title-run .input-title-write .form-group .form-control {
    font-size: 22px;
  }
  .input-title-run .input-title-write .form-group .form-control::-moz-placeholder {
    font-size: 22px;
  }
  .input-title-run .input-title-write .form-group .form-control:-ms-input-placeholder {
    font-size: 22px;
  }
  .input-title-run .input-title-write .form-group .form-control::-webkit-input-placeholder {
    font-size: 22px;
  }
  .input-title-run {
    display: block !important;
  }
  .header-dash .header-profile {
    gap: 10px;
  }
  .title-group {
    font-size: 16px;
  }
  .tag-green {
    font-size: 14px;
  }
  .feather {
    width: 20px;
    height: 20px;
  }
  .drawer-cp .drawer-content .drawer-title h2 {
    font-size: 22px;
  }
  .range-value, .group-rage-slider .form-label {
    font-size: 14px;
  }
  .drawer-cp .drawer-content {
    width: 280px;
    padding: 25px 15px;
  }
  .prompt-list-result .prompt-result-item {
    padding: 25px 15px;
  }
  .modal-xs .modal-dialog {
    max-width: 100%;
  }
  .box-run-fixed p {
    font-size: 14px;
  }
}