@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Primary colors */
$primary-900: #C80B0B;
$primary-500: #FD3131;
$primary-200: #FFD6D6;
$primary-50: #FFF5F5;

/* Neutral colors */
$neutral-900: #00080D;
$neutral-700: #1E3841;
$neutral-400: #4D5F66;
$neutral-300: #4D5F66;
$neutral-200: #B3BABD;
$neutral-100: #E8EAEB;
$neutral-80: #E8EAEB;
$neutral-50: #F7F8F8;
$neutral-30: #FAFBFB;
$neutral-0: #FFFFFF;

/* Danger colors */
$danger-500: #FD4931;
$danger-200: #FFD6D6;
$danger-50: #FFF5F5;

/* Success colors */
$success-500: #05C295;
$success-200: #B4EDDF;
$success-50: #F2FCFA;

/* Warning colors */
$warning-500: #F59E0B;
$warning-200: #FDECCE;
$warning-50: #FEFAF3;

/* Information colors */
$info-500: #039DF3;
$info-200: #CDEBFD;
$info-50: #F2FAFE;

.h3xl {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
}

.h2xl {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 56px;
    line-height: 67px;
    letter-spacing: -0.02em;
}

.hxl {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.01em;
}

.hlg {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
}

.hmd {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0;
}

.hsm {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0;
}

.hxs {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

.hxss {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
}

/* Body text */

.body-xl {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
}

.body-lg {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.body-md {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
}

.body-sm {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}

.font-bold {
    font-weight: 700;
}

.font-semi-bold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
    background: $primary-200 ;
    border-radius: 43px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 43px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-500;
    border-radius: 43px; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $primary-500; 
  border-radius: 43px;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


a,button {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a {
  cursor: pointer !important;
  text-decoration: none !important;
}
a:hover,a:active,a:focus,a:visited{
  text-decoration: none !important;
}

input, textarea, a, button {
  outline: none !important;
  text-decoration: none;
}

.margin-auto{
  margin: 0 auto;
  float: none !important;
}

/* img hover */
.img-hover {
  overflow: hidden;
  display: block;
}

.img-hover > img {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

img{
  max-width: 100%;
}
/* end img hover */
.form-control{
  height: 47px;
  background: #FFFFFF;
  border-color:#E3E9EC;
  border-radius: 4px;
  box-shadow:none !important;
  outline:none !important;
  color:$neutral-700;
  &:focus{
    border-color:$neutral-400;
  }
}
.form-control::-moz-placeholder {
  color: #8C9BA0;
  font-size: 14px;
  font-weight: 400;
}
.form-control:-ms-input-placeholder {
  color: #8C9BA0;
  font-size: 14px;
  font-weight: 400;
}
.form-control::-webkit-input-placeholder {
  color: #8C9BA0;
  font-size: 14px;
  font-weight: 400;
}
.form-label{
  color:$neutral-700;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.input-group{
  position:relative;
  .form-control{
    padding-right:60px;
    border-radius: 4px !important;
  }
  button.btn{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    border:0;
    border-radius:0 !important;
    background:transparent;
    box-shadow: none !important;
    outline: none !important;
    margin:0 !important;
    z-index:4;
    color:$neutral-200;
    svg{
      width:20px;
    }
    &:hover{
      color:$neutral-900;
    }
  }
}
textarea.form-control{
  height:100px;
  resize: vertical;
  resize: none;
}
.dropdown-menu{
  background: #FFFFFF;
  border: 1px solid #E3E9EC;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  a{
    display:flex;
    align-items:center;
    gap:10px;
    color:$neutral-700;
    font-weight: 500;
    font-size: 14px;
    padding:.35rem 1rem;
    &:hover{
      background: $neutral-50;
      color:$neutral-700;
    }
    &:focus{
      background: $neutral-50;
      color:$neutral-700;
    }
  }
}
.dropdown-toggle::after{
  border:0;
  content:"\f078";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}
.btn.dropdown-toggle{
  gap:6px;
}
.btn-ellipsis.dropdown-toggle::after{
  display:none;
}
.btn-ellipsis{
  background:transparent;
  border:0;
  width:20px;
  height:20px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:$neutral-200;
  font-weight: 400;
  font-size: 16px;
  &:hover{
    color:$primary-500;
  }
  &.show{
    color:$primary-500;
  }
}
.main-wrapper {
  position: relative;
  min-height: 100%;
}
.container{
  max-width: 1200px;
}
.btn{
  display:inline-flex;
  align-items:center;
  justify-content: center;
  gap:15px;
  border-radius: 4px;
  outline:none !important;
  height:40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 20px;
}
.btn-primary{
  background: $primary-500;
  border-color:$primary-500;
  color:#FFFFFF;
  &:hover{
    background: $primary-500;
    border-color:$primary-500;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    opacity: 0.8;
    color:#FFFFFF;
  }
  &:focus{
    background: $primary-500;
    border-color:$primary-500;
    box-shadow: 0px 4px 16px rgba(253, 49, 49, 0.18);
    color:#FFFFFF;
    &:active{
      background: $primary-500;
      border-color:$primary-500;
      box-shadow: 0px 4px 16px rgba(253, 49, 49, 0.18);
      color:#FFFFFF;
    }
  }
}
.btn-outline{
  border: 1px solid #E3E9EC;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  color:$neutral-900;
  &:hover{
    background: #FFFFFF;
    border-color:#E3E9EC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
    opacity: 0.8;
    color:$neutral-900;
  }
  &:focus{
    border-color:#E3E9EC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
    color:$neutral-900;
    &:active{
      border-color:#E3E9EC;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
      color:$neutral-900;
    }
  }
}
.btn-lg{
  height:56px;
  border-radius: 8px;
  line-height: 24px;
  font-size:16px;
}
.btn.disabled{
  background-color:#E3E9EC;
  color:$neutral-200;
  border-color:#E3E9EC;
}
/*==========================
HOME PAGE
===========================*/
#header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index:9;
  .logo-site{
    a{
      display:inline-block;
    }
  }
  .header-auth{
    display: flex;
    align-items: center;
    gap:15px;
  }
}
.home-page-content{
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../images/bg-home.png);
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 100px 0 0;
  .hero-content{
    margin:0 auto 40px;
    max-width: 80%;
    text-align: center;
    h1{
      color: $neutral-900;
      span{
        color: $primary-500;
      }
    }
    p{
      color:$neutral-400;
      margin:30px 0 50px;
    }
    .btn-lg{
      font-size:20px;
    }
  }
}
/*==========================
AUTH PAGE
===========================*/
.auth-page{
  position:relative;
  padding:30px 15px;
  min-height: 100vh;
  background-color:$neutral-50;
  background-repeat: no-repeat;
  background-image: url(../images/bg-auth.png);
  background-size: cover;
  .auth-container{
    width:100%;
    max-width:500px;
    .logo-site-auth{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .box-auth{
      background: #FFFFFF;
      border: 1px solid #E3E9EC;
      border-radius: 10px;
      .box-auth-body{
        padding:40px 25px 20px;
        .heading-box-auth{
          text-align:center;
          h2{
            color:#000000;
          }
          p{
            color:$neutral-400;
            font-size: 18px;
          }
        }
      }
      .box-auth-footer{
        background-color:$neutral-30;
        padding:25px;
        text-align:center;
        border-radius:0 0 10px 10px;
        border-top:1px solid #E3E9EC;
        p{
          color:$neutral-700;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin:0;
          a{
            color:$primary-500;
            display:inline-block;
          }
        }
      }
    }
  }
}
.form-sty{
  .form-label{
    color:$neutral-700;
    font-weight: 400;
    font-size: 14px;
  }
  .form-control{
    background: #FFFFFF;
    border: 1px solid #E3E9EC;
    border-radius: 4px;
    box-shadow:none;
    outline:none;
  }
  .form-control::-moz-placeholder {
    color: $neutral-200;
    font-size: 14px;
    font-weight: 400;
  }
  .form-control:-ms-input-placeholder {
    color: $neutral-200;
    font-size: 14px;
    font-weight: 400;
  }
  .form-control::-webkit-input-placeholder {
    color: $neutral-200;
    font-size: 14px;
    font-weight: 400;
  }
  .form-text{
    a{
      color:$neutral-700;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      display:inline-block;
      &:hover{
        color:$primary-500;
      }
    }
  }
  .or-line{
    position:relative;
    margin:15px 0;
    display: flex;
    justify-content: center;
    &:before{
      content:'';
      position:absolute;
      top:50%;
      left:0;
      transform:translateY(-50%);
      width:100%;
      height:1px;
      background-color:#E3E9EC;
    }
    span{
      background-color:#FFFFFF;
      padding:0 20px;
      color:$neutral-700;
      font-size:14px;
      position: relative;
    }
  }
}
.upload-avatar{
  position:relative;
  display:table;
  margin:auto;
  .up-img-pic{
    width:100px;
    height:100px;
    border-radius:50%;
  }
  .upload-btn{
    position:absolute;
    bottom:0;
    right:0;
    width:35px;
    height:35px;
    background: $primary-500;
    border-radius:50%;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    color:#ffffff;
    cursor: pointer;
    #up--file{
      position:absolute;
      width:100%;
      height:100%;
      opacity:0;
      cursor: pointer;
    }
  }
}
/*==========================
DASHBOARD LAYOUT
===========================*/
.main-wrapper-dashboard{
  position:relative;
  padding-top:80px;
}
.container-fluid{
  padding:0 30px;
}
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.header-dash{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: #FFFFFF;
  border-bottom: 1px solid #E3E9EC;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
  height:80px;
  display:flex;
  align-items:center;
  padding:10px 0;
  z-index:9;
  .header-profile{
    display:flex;
    align-items:center;
    gap:15px;
    margin:auto 0 auto auto;
    .hd-icon-prof{
      a{
        display:inline-block;
        color:#000000;
        &:hover{
          color:$primary-500;
        }
      }
    }
    .account-prof{
      a{
        img.avatar-thumb{
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }
    }
  }
  .btn-side-menu{
    background:transparent;
    box-shadow:none;
    outline:none;
    padding:0;
    width:30px;
    height:30px;
    font-size:18px;
    color:#000000;
  }
}
.content-layout-dash{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  aside.bd-sidebar{
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    max-width: 300px;
    background: $neutral-30;
    height:calc(100vh - 80px);
    padding:30px 20px 30px;
    overflow-y: auto;
    .sidebar-btns{
      display:flex;
      margin:0 0 20px;
      .btn{
        flex:0 0 calc(50% - 0.25rem);
      }
      .btn-dropdown{
        flex:0 0 calc(50% - 0.25rem);
        .btn{
          width:100%;
        }
      }
    }
    .main-menu{
      li{
        position:relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .dropdown-ellipsis{
          .dropdown-menu{
            
          }
        }
        .sub-menu{
          position:static !important;
          inset:auto !important;
          transform:none !important;
          float:none;
        }
        &.nav-item:before{
          content:'\f054';
          position:absolute;
          top:12px;
          left:0;
          font-family: 'Font Awesome 5 Pro';
          color:$neutral-200;
          font-size: 10px;
          line-height: 12px;
          font-weight: 900;
        }
        &.has-chield{
          flex-direction: column;
          align-items: normal;
          &:before{
            content:'\f078';
          }
        }
        &:nth-child(1):before{
          display:none;
        }
        .nav-link{
          color:$neutral-700;
          font-weight: 500;
          font-size: 14px;
          white-space: nowrap;
        }
        &.active{
          .nav-link{
            color:$primary-500;
          }
          .btn-ellipsis{
            color:$primary-500;
          }
        }
      }
    }
    .setting-menu{
      margin-top:auto;
      li{
        padding:5px 0;
        a{
          display: flex;
          gap:15px;
          align-items:center;
          color:#8C9BA0;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
  main.bd-main{
    display: block;
    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
    min-height:calc(100vh - 80px);
    padding:30px 20px;
  }
}
.bk-title-head-input{
  margin-bottom:40px;
}
.tag-green{
  background-color:$success-200;
  color:#334155;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin:0 0 20px;
}
.tag-blue{
  background-color:#D6E1FF;
  color:#334155;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin:0 0 20px;
}
.input-title-run{
  .input-title-write{
    .form-group{
      display: flex;
      align-items: center;
      gap:10px;
      .icon-pt-title{
        flex:0 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        width:32px;
        height:32px;
        background: #FFFFFF;
        border: 1px solid #E3E9EC;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
        border-radius: 3px;
        .feather{
          width:22px;
        }
        img{
          width:18px;
        }
      }
      .form-control{
        border:0;
        border-radius:0;
        box-shadow:none;
        height:38px;;
        padding:0;
        color:$neutral-900;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
      }
      .form-control::-moz-placeholder {
        color:#E3E9EC;
        font-weight: 600;
        line-height: 38px;
        font-size: 32px;
      }
      .form-control:-ms-input-placeholder {
        color:#E3E9EC;
        font-size: 14px;font-weight: 600;
        font-size: 32px;
        line-height: 38px;
      }
      .form-control::-webkit-input-placeholder {
        color:#E3E9EC;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
      }
    }
    p{
      color:#D2D2D2;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .btn.btn-primary{
    min-width:100px;
  }
}
.group-container-addnw{
  margin:0 0 30px;
}
.title-group{
  color:$neutral-900;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin:0 0 20px;
}
.add-new-grp{
  display:inline-flex;
  align-items:center;
  color:$primary-500;
  font-weight: 500;
  font-size: 14px;
  gap:5px;
  .add-icon{
    background: #EEF3F5;
    border-radius: 2px;
    width:24px;
    height:24px;
    color:$primary-500;
    align-items:center;
    display:flex;
    justify-content: center;
    flex:0 0 24px;
    svg{
      width:18px;
    }
  }
  &:hover{
    color:$primary-500;
  }
}
.prompt-list-appends{
  position:relative;
  &:before{
    content:"";
    position:absolute;
    top:0;
    left:-15px;
    width:1px;
    height:calc(100% + 30px);
    background:#E3E9EC;
  }
  .prompt-child-item{
    position:relative;
    .form-label{
      position:relative;
      &:before{
        content:"";
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        left:-21px;
        width: 12px;
        height: 12px;
        border-radius:50%;
        border:2px solid $primary-500;
        background:$primary-500;
        z-index:1;
      }
    }
    textarea{
      height:auto;
      min-height: 47px;
    }
    &.fill-input{
      .form-label{
      &:before{
        background:$primary-50;
      }
    }
    }
  }
}
.line-dots-vertical{
  .add-new-grp{
    position:relative;
    &:before{
      content:"";
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      left:-21px;
      width: 12px;
      height: 12px;
      border-radius:50%;
      border:2px solid #E3E9EC;
      background:#E3E9EC;
      z-index:1;
    }
  }
}
.num-character{
  color:$neutral-700;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.box-result-code{
  position:relative;
  border: 1px solid #FFD6D6;
  border-radius: 8px;
  padding:25px;
}

.prompt-list-result{
  position:relative;
  &:before{
    content:"";
    position:absolute;
    top:0;
    left:-15px;
    width:1px;
    height:100%;
    background:#E3E9EC;
  }
  .prompt-result-item{
    position:relative;
    background: #FAFBFB;
    border-radius: 10px;
    padding:25px 35px;
    &:before{
      content:"";
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      left:-21px;
      width: 12px;
      height: 12px;
      border-radius:50%;
      border:2px solid $primary-500;
      background:$primary-500;
      z-index:1;
    }
    h2{
      color:$neutral-700;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    p{
      color:#000000;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
.btn-copy{
  box-shadow:none !important;
  outline:none !important;
  color:$neutral-200;
  font-size:20px;
  padding:0;
  border:0;
  &:hover{
    color:#00080D;
  }
}
.card-integration{
  position:relative;
  border: 1px solid #E3E9EC;
  border-radius: 8px;
  margin:0 0 20px;
  .card-body{
    .card-icon{
      width:47px;
      height:47px;
      border-radius:4px;
      margin:0 0 20px;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    h3{
      color:$neutral-700;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    p{
      color:#8C9BA0;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      height:36px;
      overflow:hidden;
    }
  }
  .card-footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    .form-check{
      margin:auto 0 auto auto;
    }
    .btn-outline{
      gap:10px;
      padding:5px 10px;
    }
  }
}
.form-check-input:checked{
    background-color: $primary-500;
    border-color: #115E59;
    box-shadow: 0 0 0 0.25rem rgb(253 49 49 / 9%);
}
.modal-style{
  .modal-content{
    background: #FFFFFF;
    border-radius: 12px;
    border:0;
    .modal-body{
      padding:30px;
    }
    .title-modal{
      color:$neutral-900;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
    }
    .btn{
      height:48px;
    }
  }
}
.modal-xs{
  .modal-dialog{
    max-width:400px;
  }
}
.result-wrapper {
  counter-reset: line-number;
  .line {
    counter-increment: line-number;
  }
  .line:before {
    content: counter(line-number)"    ";
    color:#B3BABD;
  }
  pre{
    margin:0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color:$neutral-700;
    white-space: normal;
  }
}
.box-overflow{
  overflow-y:auto;
}
.drawer-cp{
  .drawer-content{
    position: fixed;
    right: 0px;
    top: 15px;
    height: calc(100vh - 30px);
    width: 370px;
    background: #ffffff;
    border: 1px solid #E3E9EC;
    border-radius: 8px;
    z-index: 1001;
    overflow-y: auto;
    -webkit-transform: translateX(375px);
    -moz-transform: translateX(375px);
    -ms-transform: translateX(375px);
    -o-transform: translateX(375px);
    transform: translateX(375px);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease;
    padding:25px;
    .drawer-title{
      margin:0 0 30px;
      h3{
        color:#8C9BA0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
      h2{
        color:$neutral-900;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
  .drawer-overlay{
    position: fixed;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    visibility: hidden;
    transition: all .3s;
  }
}
.setting-toggle {
    overflow: hidden;
    .drawer-cp{
    .drawer-content{
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
    .drawer-overlay{
      visibility: visible;
    }
  }
}

html.setting-toggle{
  overflow: hidden;
}

.range-cust.form-range::-webkit-slider-thumb {

  background: #FD3131;

}
.range-cust.form-range::-moz-range-thumb {
  background: #FD3131;
}
 
.range-cust.form-range::-ms-thumb {
  background: #FD3131;
}
 
@media (prefers-reduced-motion: reduce) {
  .range-cust.form-range::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none;
  }
}
 
.range-cust.form-range::-webkit-slider-thumb:active {
  background-color: #FD3131;
}
 
.range-cust.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #E3E9EC;
  border-color: transparent;
  border-radius: 1rem;
 
}
.range-value{
  color:$neutral-200;
  font-weight: 500;
  font-size: 16px;
}
.group-rage-slider{
  display: flex;
  flex-direction: column;
  gap: 0;
  .form-label{
    font-weight: 500;
    font-size: 16px;
    color:$neutral-700;
  }
}

.box-run-fixed{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:$neutral-700;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
  padding:20px;
  z-index:12;
  position: fixed;
  top:80px;
  left:300px;
  width:calc(100% - 300px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  p{
    color:#8C9BA0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin:0;
    span{
      color:#FFFFFF;
    }
  }
  .btn.btn-primary {
    min-width: 100px;
  }
  &.fixed{
    opacity: 1;
    visibility: visible;
  }
}

.select2-container{
  width: 100% !important;
}
.select2-container--default .select2-selection--single{
  height: 47px;
  background: #FFFFFF;
  border-color:#E3E9EC;
  border-radius: 4px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  line-height: 47px;
  color:$neutral-700;
  font-size: 1rem;
  font-weight: 400;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 47px;
}
.select2-selection__placeholder{
  color:#8C9BA0;
  font-weight: 400;
  font-size: 14px;
}
.select2-dropdown{
  border-color:#E3E9EC;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background:$primary-500;
  color:#ffffff;
  font-weight: 400;
  font-size: 14px;
}
.select2-results{
  li{
    font-weight: 400;
    font-size: 14px;
    color:#8C9BA0;
  }
}
.btn-side-menu{
  display:none;
}
.bd-sidebar{
  .accordion-item{
    border:0;
    background-color:transparent;
    border-radius:0;
    .accordion-header{
      position: relative;
      padding-right:30px;
      .dropdown-ellipsis{
        position:absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        z-index:3;
      }
      .accordion-button{
        color:$neutral-700;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        border:0;
        background-color:transparent;
        outline:none;
        box-shadow:none;
        padding:.5rem 1rem;
        &:after{
          display:none;
        }
        &:before{
          content:'\f078';
          position:absolute;
          left:0;
          font-family: 'Font Awesome 5 Pro';
          font-size:10px;
          color:#B3BABD;
        }
        &.collapsed{
          &:before{
            content:'\f054';
          }
        }
      }
    }
    .accordion-body{
      padding:0 1.25rem;
    }
  }
}
.np-border{
  border:0 !important;
  border-radius:0 !important;
  padding:0 !important;
}
.form-control.np-border::-moz-placeholder {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: 400;
}
.form-control.np-border:-ms-input-placeholder {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: 400;
}
.form-control.np-border::-webkit-input-placeholder {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: 400;
}
.btn{
  .feather{
    width:20px;
    height:20px;
  }
}
.boder-bottom{
  padding-bottom:20px;
  border-bottom:1px solid #E3E9EC;
}