@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Primary colors */
/* Neutral colors */
/* Danger colors */
/* Success colors */
/* Warning colors */
/* Information colors */
.h3xl {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
}

.h2xl {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 56px;
  line-height: 67px;
  letter-spacing: -0.02em;
}

.hxl {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 48px;
  line-height: 57px;
  letter-spacing: -0.01em;
}

.hlg {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
}

.hmd {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0;
}

.hsm {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0;
}

.hxs {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.hxss {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

/* Body text */
.body-xl {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
}

.body-lg {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.body-md {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.body-sm {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
}

.font-bold {
  font-weight: 700;
}

.font-semi-bold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 4px;
  background: #FFD6D6;
  border-radius: 43px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 43px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FD3131;
  border-radius: 43px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #FD3131;
  border-radius: 43px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a, button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a {
  cursor: pointer !important;
  text-decoration: none !important;
}

a:hover, a:active, a:focus, a:visited {
  text-decoration: none !important;
}

input, textarea, a, button {
  outline: none !important;
  text-decoration: none;
}

.margin-auto {
  margin: 0 auto;
  float: none !important;
}

/* img hover */
.img-hover {
  overflow: hidden;
  display: block;
}

.img-hover > img {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

img {
  max-width: 100%;
}

/* end img hover */
.form-control {
  height: 47px;
  background: #FFFFFF;
  border-color: #E3E9EC;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  color: #1E3841;
}
.form-control:focus {
  border-color: #4D5F66;
}

.form-control::-moz-placeholder {
  color: #8C9BA0;
  font-size: 14px;
  font-weight: 400;
}

.form-control:-ms-input-placeholder {
  color: #8C9BA0;
  font-size: 14px;
  font-weight: 400;
}

.form-control::-webkit-input-placeholder {
  color: #8C9BA0;
  font-size: 14px;
  font-weight: 400;
}

.form-label {
  color: #1E3841;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.input-group {
  position: relative;
}
.input-group .form-control {
  padding-right: 60px;
  border-radius: 4px !important;
}
.input-group button.btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: 0;
  border-radius: 0 !important;
  background: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  margin: 0 !important;
  z-index: 4;
  color: #B3BABD;
}
.input-group button.btn svg {
  width: 20px;
}
.input-group button.btn:hover {
  color: #00080D;
}

textarea.form-control {
  height: 100px;
  resize: vertical;
  resize: none;
}

.dropdown-menu {
  background: #FFFFFF;
  border: 1px solid #E3E9EC;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
}
.dropdown-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #1E3841;
  font-weight: 500;
  font-size: 14px;
  padding: 0.35rem 1rem;
}
.dropdown-menu a:hover {
  background: #F7F8F8;
  color: #1E3841;
}
.dropdown-menu a:focus {
  background: #F7F8F8;
  color: #1E3841;
}

.dropdown-toggle::after {
  border: 0;
  content: "\f078";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.btn.dropdown-toggle {
  gap: 6px;
}

.btn-ellipsis.dropdown-toggle::after {
  display: none;
}

.btn-ellipsis {
  background: transparent;
  border: 0;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #B3BABD;
  font-weight: 400;
  font-size: 16px;
}
.btn-ellipsis:hover {
  color: #FD3131;
}
.btn-ellipsis.show {
  color: #FD3131;
}

.main-wrapper {
  position: relative;
  min-height: 100%;
}

.container {
  max-width: 1200px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  border-radius: 4px;
  outline: none !important;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 20px;
}

.btn-primary {
  background: #FD3131;
  border-color: #FD3131;
  color: #FFFFFF;
}
.btn-primary:hover {
  background: #FD3131;
  border-color: #FD3131;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  color: #FFFFFF;
}
.btn-primary:focus {
  background: #FD3131;
  border-color: #FD3131;
  -webkit-box-shadow: 0px 4px 16px rgba(253, 49, 49, 0.18);
          box-shadow: 0px 4px 16px rgba(253, 49, 49, 0.18);
  color: #FFFFFF;
}
.btn-primary:focus:active {
  background: #FD3131;
  border-color: #FD3131;
  -webkit-box-shadow: 0px 4px 16px rgba(253, 49, 49, 0.18);
          box-shadow: 0px 4px 16px rgba(253, 49, 49, 0.18);
  color: #FFFFFF;
}

.btn-outline {
  border: 1px solid #E3E9EC;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  color: #00080D;
}
.btn-outline:hover {
  background: #FFFFFF;
  border-color: #E3E9EC;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  opacity: 0.8;
  color: #00080D;
}
.btn-outline:focus {
  border-color: #E3E9EC;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  color: #00080D;
}
.btn-outline:focus:active {
  border-color: #E3E9EC;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  color: #00080D;
}

.btn-lg {
  height: 56px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
}

.btn.disabled {
  background-color: #E3E9EC;
  color: #B3BABD;
  border-color: #E3E9EC;
}

/*==========================
HOME PAGE
===========================*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
}
#header .logo-site a {
  display: inline-block;
}
#header .header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.home-page-content {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../images/bg-home.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 100px 0 0;
}
.home-page-content .hero-content {
  margin: 0 auto 40px;
  max-width: 80%;
  text-align: center;
}
.home-page-content .hero-content h1 {
  color: #00080D;
}
.home-page-content .hero-content h1 span {
  color: #FD3131;
}
.home-page-content .hero-content p {
  color: #4D5F66;
  margin: 30px 0 50px;
}
.home-page-content .hero-content .btn-lg {
  font-size: 20px;
}

/*==========================
AUTH PAGE
===========================*/
.auth-page {
  position: relative;
  padding: 30px 15px;
  min-height: 100vh;
  background-color: #F7F8F8;
  background-repeat: no-repeat;
  background-image: url(../images/bg-auth.png);
  background-size: cover;
}
.auth-page .auth-container {
  width: 100%;
  max-width: 500px;
}
.auth-page .auth-container .logo-site-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.auth-page .auth-container .box-auth {
  background: #FFFFFF;
  border: 1px solid #E3E9EC;
  border-radius: 10px;
}
.auth-page .auth-container .box-auth .box-auth-body {
  padding: 40px 25px 20px;
}
.auth-page .auth-container .box-auth .box-auth-body .heading-box-auth {
  text-align: center;
}
.auth-page .auth-container .box-auth .box-auth-body .heading-box-auth h2 {
  color: #000000;
}
.auth-page .auth-container .box-auth .box-auth-body .heading-box-auth p {
  color: #4D5F66;
  font-size: 18px;
}
.auth-page .auth-container .box-auth .box-auth-footer {
  background-color: #FAFBFB;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #E3E9EC;
}
.auth-page .auth-container .box-auth .box-auth-footer p {
  color: #1E3841;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.auth-page .auth-container .box-auth .box-auth-footer p a {
  color: #FD3131;
  display: inline-block;
}

.form-sty .form-label {
  color: #1E3841;
  font-weight: 400;
  font-size: 14px;
}
.form-sty .form-control {
  background: #FFFFFF;
  border: 1px solid #E3E9EC;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.form-sty .form-control::-moz-placeholder {
  color: #B3BABD;
  font-size: 14px;
  font-weight: 400;
}
.form-sty .form-control:-ms-input-placeholder {
  color: #B3BABD;
  font-size: 14px;
  font-weight: 400;
}
.form-sty .form-control::-webkit-input-placeholder {
  color: #B3BABD;
  font-size: 14px;
  font-weight: 400;
}
.form-sty .form-text a {
  color: #1E3841;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
}
.form-sty .form-text a:hover {
  color: #FD3131;
}
.form-sty .or-line {
  position: relative;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-sty .or-line:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #E3E9EC;
}
.form-sty .or-line span {
  background-color: #FFFFFF;
  padding: 0 20px;
  color: #1E3841;
  font-size: 14px;
  position: relative;
}

.upload-avatar {
  position: relative;
  display: table;
  margin: auto;
}
.upload-avatar .up-img-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.upload-avatar .upload-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background: #FD3131;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
.upload-avatar .upload-btn #up--file {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/*==========================
DASHBOARD LAYOUT
===========================*/
.main-wrapper-dashboard {
  position: relative;
  padding-top: 80px;
}

.container-fluid {
  padding: 0 30px;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.header-dash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #E3E9EC;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  z-index: 9;
}
.header-dash .header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: auto 0 auto auto;
}
.header-dash .header-profile .hd-icon-prof a {
  display: inline-block;
  color: #000000;
}
.header-dash .header-profile .hd-icon-prof a:hover {
  color: #FD3131;
}
.header-dash .header-profile .account-prof a img.avatar-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.header-dash .btn-side-menu {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #000000;
}

.content-layout-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-layout-dash aside.bd-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  max-width: 300px;
  background: #FAFBFB;
  height: calc(100vh - 80px);
  padding: 30px 20px 30px;
  overflow-y: auto;
}
.content-layout-dash aside.bd-sidebar .sidebar-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
}
.content-layout-dash aside.bd-sidebar .sidebar-btns .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 0.25rem);
          flex: 0 0 calc(50% - 0.25rem);
}
.content-layout-dash aside.bd-sidebar .sidebar-btns .btn-dropdown {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 0.25rem);
          flex: 0 0 calc(50% - 0.25rem);
}
.content-layout-dash aside.bd-sidebar .sidebar-btns .btn-dropdown .btn {
  width: 100%;
}
.content-layout-dash aside.bd-sidebar .main-menu li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-layout-dash aside.bd-sidebar .main-menu li .sub-menu {
  position: static !important;
  inset: auto !important;
  -webkit-transform: none !important;
          transform: none !important;
  float: none;
}
.content-layout-dash aside.bd-sidebar .main-menu li.nav-item:before {
  content: "\f054";
  position: absolute;
  top: 12px;
  left: 0;
  font-family: "Font Awesome 5 Pro";
  color: #B3BABD;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
}
.content-layout-dash aside.bd-sidebar .main-menu li.has-chield {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.content-layout-dash aside.bd-sidebar .main-menu li.has-chield:before {
  content: "\f078";
}
.content-layout-dash aside.bd-sidebar .main-menu li:nth-child(1):before {
  display: none;
}
.content-layout-dash aside.bd-sidebar .main-menu li .nav-link {
  color: #1E3841;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}
.content-layout-dash aside.bd-sidebar .main-menu li.active .nav-link {
  color: #FD3131;
}
.content-layout-dash aside.bd-sidebar .main-menu li.active .btn-ellipsis {
  color: #FD3131;
}
.content-layout-dash aside.bd-sidebar .setting-menu {
  margin-top: auto;
}
.content-layout-dash aside.bd-sidebar .setting-menu li {
  padding: 5px 0;
}
.content-layout-dash aside.bd-sidebar .setting-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8C9BA0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.content-layout-dash main.bd-main {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 300px);
          flex: 0 0 calc(100% - 300px);
  max-width: calc(100% - 300px);
  min-height: calc(100vh - 80px);
  padding: 30px 20px;
}

.bk-title-head-input {
  margin-bottom: 40px;
}

.tag-green {
  background-color: #B4EDDF;
  color: #334155;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 20px;
}

.tag-blue {
  background-color: #D6E1FF;
  color: #334155;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 20px;
}

.input-title-run .input-title-write .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.input-title-run .input-title-write .form-group .icon-pt-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #E3E9EC;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
.input-title-run .input-title-write .form-group .icon-pt-title .feather {
  width: 22px;
}
.input-title-run .input-title-write .form-group .icon-pt-title img {
  width: 18px;
}
.input-title-run .input-title-write .form-group .form-control {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 38px;
  padding: 0;
  color: #00080D;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.input-title-run .input-title-write .form-group .form-control::-moz-placeholder {
  color: #E3E9EC;
  font-weight: 600;
  line-height: 38px;
  font-size: 32px;
}
.input-title-run .input-title-write .form-group .form-control:-ms-input-placeholder {
  color: #E3E9EC;
  font-size: 14px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.input-title-run .input-title-write .form-group .form-control::-webkit-input-placeholder {
  color: #E3E9EC;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.input-title-run .input-title-write p {
  color: #D2D2D2;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.input-title-run .btn.btn-primary {
  min-width: 100px;
}

.group-container-addnw {
  margin: 0 0 30px;
}

.title-group {
  color: #00080D;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 20px;
}

.add-new-grp {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FD3131;
  font-weight: 500;
  font-size: 14px;
  gap: 5px;
}
.add-new-grp .add-icon {
  background: #EEF3F5;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  color: #FD3131;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}
.add-new-grp .add-icon svg {
  width: 18px;
}
.add-new-grp:hover {
  color: #FD3131;
}

.prompt-list-appends {
  position: relative;
}
.prompt-list-appends:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 1px;
  height: calc(100% + 30px);
  background: #E3E9EC;
}
.prompt-list-appends .prompt-child-item {
  position: relative;
}
.prompt-list-appends .prompt-child-item .form-label {
  position: relative;
}
.prompt-list-appends .prompt-child-item .form-label:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -21px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #FD3131;
  background: #FD3131;
  z-index: 1;
}
.prompt-list-appends .prompt-child-item textarea {
  height: auto;
  min-height: 47px;
}
.prompt-list-appends .prompt-child-item.fill-input .form-label:before {
  background: #FFF5F5;
}

.line-dots-vertical .add-new-grp {
  position: relative;
}
.line-dots-vertical .add-new-grp:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -21px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #E3E9EC;
  background: #E3E9EC;
  z-index: 1;
}

.num-character {
  color: #1E3841;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.box-result-code {
  position: relative;
  border: 1px solid #FFD6D6;
  border-radius: 8px;
  padding: 25px;
}

.prompt-list-result {
  position: relative;
}
.prompt-list-result:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 1px;
  height: 100%;
  background: #E3E9EC;
}
.prompt-list-result .prompt-result-item {
  position: relative;
  background: #FAFBFB;
  border-radius: 10px;
  padding: 25px 35px;
}
.prompt-list-result .prompt-result-item:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -21px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #FD3131;
  background: #FD3131;
  z-index: 1;
}
.prompt-list-result .prompt-result-item h2 {
  color: #1E3841;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.prompt-list-result .prompt-result-item p {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.btn-copy {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  color: #B3BABD;
  font-size: 20px;
  padding: 0;
  border: 0;
}
.btn-copy:hover {
  color: #00080D;
}

.card-integration {
  position: relative;
  border: 1px solid #E3E9EC;
  border-radius: 8px;
  margin: 0 0 20px;
}
.card-integration .card-body .card-icon {
  width: 47px;
  height: 47px;
  border-radius: 4px;
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-integration .card-body h3 {
  color: #1E3841;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.card-integration .card-body p {
  color: #8C9BA0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}
.card-integration .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
}
.card-integration .card-footer .form-check {
  margin: auto 0 auto auto;
}
.card-integration .card-footer .btn-outline {
  gap: 10px;
  padding: 5px 10px;
}

.form-check-input:checked {
  background-color: #FD3131;
  border-color: #115E59;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(253, 49, 49, 0.09);
          box-shadow: 0 0 0 0.25rem rgba(253, 49, 49, 0.09);
}

.modal-style .modal-content {
  background: #FFFFFF;
  border-radius: 12px;
  border: 0;
}
.modal-style .modal-content .modal-body {
  padding: 30px;
}
.modal-style .modal-content .title-modal {
  color: #00080D;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.modal-style .modal-content .btn {
  height: 48px;
}

.modal-xs .modal-dialog {
  max-width: 400px;
}

.result-wrapper {
  counter-reset: line-number;
}
.result-wrapper .line {
  counter-increment: line-number;
}
.result-wrapper .line:before {
  content: counter(line-number) "    ";
  color: #B3BABD;
}
.result-wrapper pre {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1E3841;
  white-space: normal;
}

.box-overflow {
  overflow-y: auto;
}

.drawer-cp .drawer-content {
  position: fixed;
  right: 0px;
  top: 15px;
  height: calc(100vh - 30px);
  width: 370px;
  background: #ffffff;
  border: 1px solid #E3E9EC;
  border-radius: 8px;
  z-index: 1001;
  overflow-y: auto;
  -webkit-transform: translateX(375px);
  transform: translateX(375px);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  padding: 25px;
}
.drawer-cp .drawer-content .drawer-title {
  margin: 0 0 30px;
}
.drawer-cp .drawer-content .drawer-title h3 {
  color: #8C9BA0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.drawer-cp .drawer-content .drawer-title h2 {
  color: #00080D;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.drawer-cp .drawer-overlay {
  position: fixed;
  content: "";
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.setting-toggle {
  overflow: hidden;
}
.setting-toggle .drawer-cp .drawer-content {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.setting-toggle .drawer-cp .drawer-overlay {
  visibility: visible;
}

html.setting-toggle {
  overflow: hidden;
}

.range-cust.form-range::-webkit-slider-thumb {
  background: #FD3131;
}

.range-cust.form-range::-moz-range-thumb {
  background: #FD3131;
}

.range-cust.form-range::-ms-thumb {
  background: #FD3131;
}

@media (prefers-reduced-motion: reduce) {
  .range-cust.form-range::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none;
  }
}
.range-cust.form-range::-webkit-slider-thumb:active {
  background-color: #FD3131;
}

.range-cust.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #E3E9EC;
  border-color: transparent;
  border-radius: 1rem;
}

.range-value {
  color: #B3BABD;
  font-weight: 500;
  font-size: 16px;
}

.group-rage-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.group-rage-slider .form-label {
  font-weight: 500;
  font-size: 16px;
  color: #1E3841;
}

.box-run-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1E3841;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
  padding: 20px;
  z-index: 12;
  position: fixed;
  top: 80px;
  left: 300px;
  width: calc(100% - 300px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box-run-fixed p {
  color: #8C9BA0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.box-run-fixed p span {
  color: #FFFFFF;
}
.box-run-fixed .btn.btn-primary {
  min-width: 100px;
}
.box-run-fixed.fixed {
  opacity: 1;
  visibility: visible;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 47px;
  background: #FFFFFF;
  border-color: #E3E9EC;
  border-radius: 4px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 47px;
  color: #1E3841;
  font-size: 1rem;
  font-weight: 400;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 47px;
}

.select2-selection__placeholder {
  color: #8C9BA0;
  font-weight: 400;
  font-size: 14px;
}

.select2-dropdown {
  border-color: #E3E9EC;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #FD3131;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.select2-results li {
  font-weight: 400;
  font-size: 14px;
  color: #8C9BA0;
}

.btn-side-menu {
  display: none;
}

.bd-sidebar .accordion-item {
  border: 0;
  background-color: transparent;
  border-radius: 0;
}
.bd-sidebar .accordion-item .accordion-header {
  position: relative;
  padding-right: 30px;
}
.bd-sidebar .accordion-item .accordion-header .dropdown-ellipsis {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}
.bd-sidebar .accordion-item .accordion-header .accordion-button {
  color: #1E3841;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0.5rem 1rem;
}
.bd-sidebar .accordion-item .accordion-header .accordion-button:after {
  display: none;
}
.bd-sidebar .accordion-item .accordion-header .accordion-button:before {
  content: "\f078";
  position: absolute;
  left: 0;
  font-family: "Font Awesome 5 Pro";
  font-size: 10px;
  color: #B3BABD;
}
.bd-sidebar .accordion-item .accordion-header .accordion-button.collapsed:before {
  content: "\f054";
}
.bd-sidebar .accordion-item .accordion-body {
  padding: 0 1.25rem;
}

.np-border {
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.form-control.np-border::-moz-placeholder {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: 400;
}

.form-control.np-border:-ms-input-placeholder {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: 400;
}

.form-control.np-border::-webkit-input-placeholder {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: 400;
}

.btn .feather {
  width: 20px;
  height: 20px;
}

.boder-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #E3E9EC;
}