@font-face {
    font-family: 'Somar Rounded';
    src: url('SomarRounded-Regular.eot');
    src: url('SomarRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('SomarRounded-Regular.woff2') format('woff2'),
        url('SomarRounded-Regular.woff') format('woff'),
        url('SomarRounded-Regular.ttf') format('truetype'),
        url('SomarRounded-Regular.svg#SomarRounded-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

