@font-face {
    font-family: 'Somar Rounded';
    src: url('SomarRounded-Bold.eot');
    src: url('SomarRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('SomarRounded-Bold.woff2') format('woff2'),
        url('SomarRounded-Bold.woff') format('woff'),
        url('SomarRounded-Bold.ttf') format('truetype'),
        url('SomarRounded-Bold.svg#SomarRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

