@font-face {
    font-family: 'Somar Rounded';
    src: url('SomarRounded-Medium.eot');
    src: url('SomarRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('SomarRounded-Medium.woff2') format('woff2'),
        url('SomarRounded-Medium.woff') format('woff'),
        url('SomarRounded-Medium.ttf') format('truetype'),
        url('SomarRounded-Medium.svg#SomarRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

