@font-face {
    font-family: 'Somar Rounded';
    src: url('SomarRounded-SemiBold.eot');
    src: url('SomarRounded-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SomarRounded-SemiBold.woff2') format('woff2'),
        url('SomarRounded-SemiBold.woff') format('woff'),
        url('SomarRounded-SemiBold.ttf') format('truetype'),
        url('SomarRounded-SemiBold.svg#SomarRounded-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

